<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>Application Confirmation</title>
</head>
<body>
  <h1><strong>Submitted Information</strong></h1>

  <div>
    <div class="padding"> 
      <strong>Name: </strong> <%= studentname %>
    </div>

    <div class="padding"> 
      <strong>Email Address: </strong> <%= email %>
    </div>

    <div class="padding"> 
      <strong>School Year: </strong> <%= year %>
    </div>

    <div class="padding"> 
      <strong>Programming Languages: </strong> <%= lang %>
    </div>

    <div class="padding"> 
      <strong>Secret Code Word for Prof Nelson: </strong> <%= secretWord %>
    </div>

    <hr>
    
    <a href="/">HOME</a>
  </div>
</body>
</html>